NEXT_PUBLIC_SUPABASE_URL=https://zxxjpxpchvsjkvslwtvx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp4eGpweHBjaHZzamt2c2x3dHZ4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQzMjAyMjcsImV4cCI6MjA4OTg5NjIyN30.dUmkF8BU2LPE4pu3ndawGX8aCUTDCkvp3leRoXanflI